{% load static%}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title> login form </title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="Stylesheet" href="{%static 'css/style.css'%}" type="text/css" media="all" />

</head>

<body>
    <div class="w3l-loginblock signinform">
        
        <!-- main content -->
            <div class="row map-content-9">
                
                <div class="info-grids">
                    <div class="logo">
                        <a class="brand-logo" href="index.html"> Login form</a>
                    </div>
                    <br>
                    <form  method="post" class="">
                        {% csrf_token %}
                        <div class="form-grid">
                            <div class="input-field">
                                <label> Username or Email </label>
                                <input type="email" name="email"  placeholder="Enter Username or Email" required="">
                            </div>
                            <div class="input-field">
                                <label> Password</label>
                                <input type="password" name="password"  placeholder="Enter Password" required="">
                            </div>
                        </div>
                    
                        <br>
                        <br>
                        <button type="submit" class="btn btn-watch-video btn-style" style="background-color: #008374;">Login</button>
                        <span></span>
                        <button type="submit" class="btn btn-watch-video btn-style" style="background-color: #008374;">Clear</button>
                        <br>
                        <br>
                        <p class="text-center mb-1"><Span>Click Here </Span><a href="{% url 'forgotpassword' %}"> Forgot Password ?</a></p>
                       <br>
                       <p class="text-center mb-4">Login with  <span><a href="{% url 'phone' %}">  Phone Number</a></span></p>
                       <br>
                       <p class="text-center mb-4">Not yot Registered ?  <a href="#signup"> Sign Up</a></p>
                           <div class="info-grids social-login-details align-self">
                            <p class="text-center mb-3">Or Login with</p>
                            <br>
                            <div class="social-media">
                                <a href="#facebook" class="fb"><span class="fa-facebook" aria-hidden="true"></span>Login with Facebook</a>
                                <br>
                                <a href="#Twitter" class="tw"><span class="fa fa-twitter" aria-hidden="true"></span>Login with Twitter</a>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        <!-- //main content -->
        {% if message %}<script>alert("{{message}}")</script>{% endif %}
        
    </div>

    <!-- fontawesome v5-->
    <script src="{% static 'css/style.css' %}"></script>

</body>

</html>