
{% load static%}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title> login form </title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="Stylesheet" href="{%static 'css/style.css'%}" type="text/css" media="all" />

</head>

<body>
    <div class="w3l-loginblock signinform">
        
        <!-- main content -->
            <div class="row map-content-9">
                <div class="info-grids">
                    <div class="logo">
                        <a class="brand-logo" href="index.html"> login with Phone</a>
                    </div>
                    <br>
                    <form  method="post" class="">
                        {% csrf_token %}
                        <div class="form-grid">
                            <div class="input-field">
                                <label> Phone </label>
                                <input type="number" name="phone1" id="phone1" placeholder="Enter phone number" required="">
                            </div>
                        </div>
                        <br>
                        <p class="text-center mb-4">Login with  <span><a href="{% url 'login' %}">  Phone Number</a></span></p>
                        <br>
                        <button type="submit" class="btn btn-watch-video btn-style" style="background-color: #008374;">Get OTP</button>
                        <br>
                    </form>
                </div>
                
            </div>
        <!-- //main content -->
        {% if message %}<script>alert("{{message}}")</script>{% endif %}
        
    </div>

    <!-- fontawesome v5-->
    <script src="{% static 'css/style.css' %}"></script>
</body>

</html>